@using BlazorBootstrap53.Features.ThresholdCovenant.VerseReferenceCards
@using BlazorBootstrap53.Features.ThresholdCovenant.OriginalHtml

<div class="pb-n1 mt-3 mb-3 border-bottom border-info-subtle">
	<h5> @NavItem.Value @NavItem.Title</h5>
</div>

<h1 id="my-notes-on-threshold-covenant-by-h-clay-trumbull">My Notes on &quot;Threshold Covenant&quot; by H. Clay Trumbull</h1>
<h2 id="introduction">Introduction</h2>

<p>These are my notes that I compiled from the teaching that Mark Webb gave on 04/06/2024. Mark is the congregational leader of Living Messiah in Mesa AZ (of which I, John Marsing, am an elder). Living Messiah follows a triennial reading of the Torah  (called <em>parasha</em> in Hebrew) and on every Shabbat Mark does a teaching on that. On this date (04/06/2024) it was Deuteronomy chapter 4 in his presentation who reads from sections of H. Clay Trumbull's book &quot;Threshold Covenant&quot;.  The video can be found <a href="https://www.youtube.com/live/jQJG4EpL-H8?si=Z8HEhn80KeqJETKX&amp;t=7260">here</a> which starts timestamp 2.01.00</p>
<p>I took the time to create this document for a couple of reasons. First the claims in this book are powerful and second I was able to create a compelling reference document (PDF / Markdown) based on an <a href="https://www.gutenberg.org/files/49216/49216-h/49216-h.htm">online source</a> 🔗I found of the book (originally written in 1896)</p>
<p>My intent is to preserve as much as possible the original work while also injecting my comments, Mark's comments, and adding emphasis, and links to relevant sources.</p>
<p>The scope of the book is only for part V, sections 1-4</p>

<ul>
	<li>
		HEBREW PASS-OVER, OR CROSS-OVER, SACRIFICE.
		<ol>
			<li>New Meaning in an Old Rite <sup>203</sup></li>
			<li>A Welcome with Blood <sup>204</sup></li>
			<li>Bason, or Threshold <sup>206</sup></li>
			<li>Pass-over or Pass-by <sup>209</sup></li>
		</ol>
	</li>
</ul>

<!-- <div style="page-break-after: always"></div> -->
<h2 id="summary-of-the-threshold-covenant">Summary of the &quot;Threshold Covenant&quot;</h2>

<p>What if &quot;Yehovah's passover <span style='font-size:1.2em;'> פֶּסַח </span> <sup><b><i>pesach</i></b> <a href="https://www.blueletterbible.org/lexicon/h6453/kjv/wlc/0-1/">H6453</a></sup>&quot; was way more than the Angel of death <u>passing over</u> the children of Israel so as to avoid the tenth and final plague?</p>
<p>What if the context of Exodus chapter 12, which describes the passover, was a rite that was well known and that by doing a detailed word study of key words one could find a bias in the translation?</p>
<p>As a <strong>pro</strong>-nomian christian, a student of <strong>actual</strong> <em>sola scriptura</em> and one who is skilled at word studies, I can appreciate someone like Mr. H. Clay Trumbull doing and showing his work. I mention this here because a <a href="https://myhebrewbible.azurewebsites.net/Article/200/Acts-12-4-The-one-and-only-occurrence-of-Easter-in-the-King-James">word study</a> that I have done on the King Jame's translation of &quot;<em>Easter</em>&quot; is clearly and unequivocally biased.  What Trumbull is suggesting is that even in Rabbinical Judaism there is a bias as well. Although not nearly as bad as antinomian christianity it is still significant.</p>
<p>&quot;Cutting to the chase&quot;, Trumbull is suggesting that the word translated as  <strong>bason</strong> or <strong>cup</strong> <span style='font-size:1.2em;'> בַּסַּף </span> <em>saph</em> <sup> <a href="https://www.blueletterbible.org/lexicon/h5592/kjv/wlc/0-1/">H5592</a></sup> should be the term <mark>threshold</mark> (as in threshold covenant) would be more appropriate.</p>
<p>but there's more...</p>
<h2 id="my-take">My Take</h2>
<h3 id="passports-and-identity">Passports and Identity</h3>
<h3 id="1-diabateriou-διαβατηρίου-passport">1. <i>diabateriou</i> διαβατηρίου <strong>passport</strong></h3>
<p>This got my attention <sup>pg. 207 &amp; 208</sup></p>
<blockquote>
	<p>in the story of the exodus. Jerome, with his understanding of Oriental life, gives <em>limen</em>, “threshold,” for <b><i>saph</i></b>, at this point.<sup>[553 Vulgate]</sup> Philo Judæus, out of his Egyptian Jewish experiences, <strong>describing the Jewish  passover festival, speaks of it as &quot;the feast <em>diabateria</em>,</strong> which the Jews called <b><i>paskha</i></b>.&quot; <b><i>Diabateria</i></b> are &quot;offerings <strong>before crossing a <mark>border</mark></strong>,&quot; or threshold sacrifices.</p>
</blockquote>
<p>I tried to research <em>diabateria</em> and I got this from <a href="https://translate.google.com/?sl=auto&amp;tl=en&amp;text=diabateriou&amp;op=translate">Google Translator</a> <i>diabateriou</i> διαβατηρίου <mark><strong>passport</strong></mark> which is what one must have when crossing a border.  Borders define jurisdiction.</p>
<h3 id="2-identity-is-uber-important">2. Identity is uber important!</h3>
<p>Let me start off by stating a claim of my identity</p>
<blockquote>
	<p>I identify as the specifically mentioned target audience of Yeshua's ministry ... the <strong>lost sheep of the House of Israel</strong>. <sup><a href="https://www.blueletterbible.org/kjv/mat/15/24/s_944024">Mat 15:24</a>, <a href="https://www.blueletterbible.org/kjv/mat/10/5-7/s_939005">Mat 10:5-7</a></sup>. It was the house of Israel that got the <strong>bill of divorce</strong> <sup><a href="https://www.blueletterbible.org/kjv/jer/3/8/s_748008">Jer 3:8</a></sup> and through the redemptive work of the blood of Yeshua this bill of divorcement was, to use Paul's word, &quot;<strong>nailed to the cross</strong>&quot; <sup><a href="https://www.blueletterbible.org/kjv/col/2/14/s_1109014">Col 2:14</a></sup>. Thereby enabling me not only the ability to do the Torah but to do so with authority because now I'm a <strong>named party to the sacred contract with Yehovah</strong> <sup>Exo 20, Jer 31:31-35 etc.</sup> that holds the office of priest <sup><a href="https://www.blueletterbible.org/kjv/exo/19/6/s_69006">Exo 19:6</a>, <a href="https://www.blueletterbible.org/kjv/1pe/2/9/s_1153009">1Pe 2:9</a></sup></p>
</blockquote>
<div style="page-break-after: always"></div>
<h1 id="v-hebrew-pass-over-or-cross-over-sacrifice">V. HEBREW PASS-OVER, OR CROSS-OVER, SACRIFICE.</h1>
<h1 id="1-new-meaning-in-an-old-rite">1. NEW MEANING IN AN OLD RITE.</h1>
<p>How the significance of the Hebrew passover rite stands out in the light of this primitive custom! It is not that this rite had its origin in the days of the Hebrew exodus from Egypt, but that Jehovah then and there emphasized the meaning and sacredness of a rite already familiar to Orientals. In dealing with his chosen people, God did not invent a new rite or ceremonial at every stage of his progressive revelation to them; but he took a rite with which they were already familiar, and gave to it a new and deeper significance in its new use and relations.</p>

<ul>
	<li>Mark: &quot;Just like Yeshua did with the cup&quot;</li>
</ul>
<p>Long before that day, a covenant welcome was given to a guest who was to become as one of the family, or to a bride or bridegroom in marriage, by the outpouring of blood on the threshold of the door, and by staining the doorway itself with the blood of the covenant. And now Jehovah announced that he was to visit Egypt on a designated night, and that those who would welcome him should prepare a threshold covenant, or a pass-over sacrifice, as a proof of that welcome; for where no such welcome was made ready for him by a family, he must count the household as his enemy. <sup>[541] Exo 12:1:20</sup></p>

@* <div style="page-break-after: always"></div> *@

<p style="text-align: center; font-size:1.5em; background-color: #ffcc00;">Exodus 12:1–20</p>
<ul>
	<li><a href="https://www.blueletterbible.org/kjv/exo/12/1-20/s_62001">Exodus 12:1–20</a> <em>The Passover rite is instituted</em>  <sup>JKM EN 01 | MHB Parasha Exo 11 to 12:28</sup></li>
</ul>

<Exo_12_01_20 />

<HebrewPassOverOrCrossOverHtml />

@code {
	protected Enums.NavItem NavItem = Enums.NavItem.HebrewPassOverOrCrossOver;
}
