@page "/DarkModeSupport"

<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2>Dark Mode Support</h2>
</div>

<h4 class="mt-5">What’s new</h4>
<p>Dark mode support</p>
<p>Custom color modes support for themes beyond light and dark</p>
<p>Extended color palette for theme colors that adapt to color modes</p>

<div class="row">
  <div class="col-6">
    <div class="dropdown" data-bs-theme="light">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonLight" data-bs-toggle="dropdown" aria-expanded="false">
        Default dropdown
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonLight">
        <li><a class="dropdown-item active" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

  </div>
  <div class="col-6">
    <div class="dropdown" data-bs-theme="dark">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonDark" data-bs-toggle="dropdown" aria-expanded="false">
        Dark dropdown
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark">
        <li><a class="dropdown-item active" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</div>



@code {

}
