@page "/"

@using BlazorBootstrap53.Features.Home.MenuOffcanvas
@using BlazorBootstrap53.Features.Home.MenuOffcanvas.Enums

<PageHeader PageEnum="Nav.Home" />

<div class="d-flex justify-content-end mx-1">
	<Filter CurrentFilter=@CurrentFilter OnFilterSelected="@ReturnedFilter" />
</div>

@* Dynamically show content based on Current Filter *@
<BookSectionDynamicComponent MenuItem="CurrentFilter" /> 

@code {
	public MenuItem CurrentFilter { get; set; } = MenuItem.HebrewPassOverOrCrossOver;
	
	#region EventCallback
	private void ReturnedFilter(MenuItem filter)
	{
		CurrentFilter = filter;
		StateHasChanged();
	}
	#endregion
	
}