@page "/"

@using BlazorBootstrap53.Features.Home.OffcanvasAutoClose
@using BlazorBootstrap53.Features.Home.OffcanvasAutoClose.Enums

<PageHeader PageEnum="Nav.Home" />

<div class="d-flex justify-content-end mx-1">
	<Filter CurrentFilter=@CurrentFilter OnFilterSelected="@ReturnedFilter" />
</div>

<BookSection NavItem="CurrentFilter" /> 

@code {
	public NavItem CurrentFilter { get; set; } = NavItem.HebrewPassOverOrCrossOver;
	
	#region EventCallbacks
	private void ReturnedFilter(NavItem filter)
	{
		CurrentFilter = filter;
		StateHasChanged();
	}
	#endregion
	
}