@using Microsoft.Extensions.Logging;

<button class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasid" aria-controls="offcanvasid">
	Contents
	<i class="fas fa-bars"></i>
</button>

<div class="offcanvas offcanvas-end skinny-offcanvas" tabindex="-1" id="offcanvasid" aria-labelledby="offcanvasidLabel">

	<div class="offcanvas-header">
		<span class=""></span> @* Hack: this forces the close button to the right *@
		<button type="button" class="btn-close"
						data-bs-dismiss="offcanvas" aria-label="Close">
		</button>
	</div>

	<div class="offcanvas-body">

		<ul class="list-group">
			@foreach (var item in Enums.MenuItem.List.OrderBy(o => o.Value))
			{
				<li class="list-group-item @ActiveFilter(item)">
					<a @onclick="@(e => ButtonClicked(item))"
						 type="button" data-bs-dismiss="offcanvas">
						@item.Value <small>@item.Title</small>
					</a>
				</li>
			}
		</ul>

	</div>
</div>

@code {
	[Parameter, EditorRequired] public required Enums.MenuItem? CurrentFilter { get; set; }
	[Parameter] public EventCallback<Enums.MenuItem> OnFilterSelected { get; set; }

	protected Enums.MenuItem currentMenuItem = Enums.MenuItem.HebrewPassOverOrCrossOver;

	private async Task ButtonClicked(Enums.MenuItem filter)
	{
		currentMenuItem = filter;
		await OnFilterSelected.InvokeAsync(filter);
 	}

	public string ActiveFilter(Enums.MenuItem? filter)
	{
		return filter == CurrentFilter ? "active" : "";
	}
	
}
